* {
    box-sizing: border-box}


div {
    display: block;

}

body {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    background:  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px 60px;
}

.btn {
    display: block;
    position: relative;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;

    height: 44px;
    width: 44px;

    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    line-height: 44px;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.reload-btn {
    background-image: url(../images/reload-image.svg);
}

.nav, .header-btns .header{
    width: 100%;
}

.lang-btn {
    width: 71px;
    margin: 0 0.9vw;

}

.lang-btn select option {
    background-color: rgba(0, 0, 0, .53);
    font-family: 'Montserrat', sans-serif;

}

.lang-btn select {
    padding-left: 15px;
    height: 44px;
    width: 71px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    line-height: 44px;
    text-transform: uppercase;
    background-color: rgba(174, 181, 185, .5);
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 46px 19px;
    border: 0;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.temp-btns {
    display: flex;
}

.temp-btn-active {
    background: rgba(174, 181, 185, .5);
}

.temp-btn-f {
    border-radius: 5px 0 0 5px;
}

.temp-btn-c {
    border-radius: 0 5px 5px 0;

}

.temp-btn {
    margin-right: 0;

    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
}

form {
    margin-top: 0em;
}

.search-panel {
    display: flex;
    height: 44px;

}

.search-input {
    box-sizing: border-box;
    padding: 5px 0 5px 20px;
    margin: 0;
    background-color: rgba(76, 82, 85, .4);
    border: 1px solid rgba(228, 227, 227, .2);
    border-right: 0;
    width: 40%;
    height: 44px;
    border-radius: 5px 0 0 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

.voice {
    width:15%;
    height: 44px;
    background-image: url(../images/mic.svg);
    background-size: 14px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: rgba(76, 82, 85, .4);
    border-top: 1px solid rgba(228, 227, 227, .2);
    border-bottom: 1px solid rgba(228, 227, 227, .2);
    cursor: pointer;
}

.search-button {
    width: 100px;
    height: 44px;
    border-radius: 0 5px 5px 0;
    border: 0;
    background: rgba(174, 181, 185, .5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    line-height: 44px;
}


.main {
    display: flex;
    margin-top: 80px;
    flex-wrap: wrap;

}

.location-date {
    font-size: 2vw;

}

.location-place {
    margin: 0;
    min-height: 54px;
    font-size: 6vw;
    font-weight: 700;
    padding: 0;
    text-transform: uppercase;
}

.location-weather {

    align-items: center;

}

.location-temperature {

}

.current-temperature {
    font-size: 15vw;
    font-weight: 700;
}

.location-degree {
    position: absolute;
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 100%;

}

.location-details {
    /*padding-top: 50px;*/
    font-weight: 700;
    font-size: 1.5vw;
}

.weather-icon {
    font-size: 13vw ;
}

.weather-icon-mini{
    font-size: 6vw;
}

.coordinates{
    font-size: 1.7vw;


}

#map {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    border-radius: 10px;
}

.forecast{
    display: flex;

}


.days{

    font-weight: 700;
}

.day-temperature{
    font-size: 5vw;
}
.day-degree{
    font-size: 5vw;
}

@media (max-width: 576px) {
    body {
        padding: 2px;
    }

    .location, .location-weather {
        text-align: center;
        justify-content: center;
    }

    .main {
        margin-top: 20px;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .search-input {
        width: 100%
    }

    .header-btns {
        justify-content: space-between;
    order: 2;
    }
.search-panel{
    order: 1;
}
    #map {
        width: 95%;
        margin: 0 auto;
    }
    .location-date{
        font-size: 15px;
    }
    .location-details{
        font-size: 12px;
    }
    .coordinates{
        justify-content: space-around;
        display: flex;

        font-size: 12px;
    }
}
